<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{title}}</title>
        <style>
            table, td, th {
                border: 1px solid
            }
        </style>
    </head>
    <body>
        <h2><a href="./diff/index.html"> Diff Report </a></h2>
        <h2> SkiOpt BenchMark </h2>
        <table>
            <tr>
                <th>Skp Name</th>
                <th>Image (From skp_no_opt)</th>
            {% for opt in skp_membench_opts %}
                    <th> {{ opt }} </th>
            {% endfor %}
            </tr>
            {% for skp in skp_membench_results %}
            <tr>
                <td> {{ skp['name'] }} <br/> <a href="{{ skp['json'] }}"> JSON </a></td>
                <td> <img src="{{ skp['ref_img_url'] }}" width="300" height="300"/> </td>
                {% for opt in skp_membench_opts %}
                    <td> 
                        <a href = "{{skp[opt]['link']}}">
                        {{skp[opt]['value']}} 
                        </a>
                    </td>
                {% endfor %}

            </tr>
            {% endfor %}
            
        </table>

<h2> Membench Stats </h2>
<pre>{{ski_pass_summary}}</pre>
    </body>
</html>

