<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{title}}</title>
        <style>
            table, td, th {
                border: 1px solid
            }
        </style>
    </head>
    <body>
        <h2><a href="./diff/report/index.html"> Diff Report </a></h2>
        <h2> SkiOpt BenchMark </h2>
        <table>
            <tr>
                <th>Skp Name</th>
                <th> Debug Logs </th>
            {% for opt in skp_membench_opts %}
                    <th> {{ opt }} </th>
            {% endfor %}
            </tr>
            {% for skp in skp_membench_results %}
            <tr>
                <td> <a href="{{ skp['ref_img_url']}}"> {{ skp['name'] }} </a> </td>
                <td>
                    <a href="{{ skp['json'] }}"> NO_OPT Json </a> <br/>
                    <a href = "{{skp['skipass_log']}}">	SkiPass Debug Log </a>
                </td>
                {% for opt in skp_membench_opts %}
                    <td> 
                        <a href = "{{skp[opt]['link']}}">
                             {{skp[opt]['value']}} 
                        </a>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </table>

    </body>
</html>

